/*
==============================
BASIC SETUP
==============================
*/

body {
    font-family: hydrophilia-iced, sans-serif;
    /* font-family: lores-12, sans-serif; */
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    background: #000;
    color: #690;
}

.container {
    width: 980px;
    max-width: 98%;
    margin: 0 auto;
    padding: 0.2em 0;
}

/*
==============================
GAME BOX
==============================
*/

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
==============================
CHARACTER BOXES
==============================
*/

.charbox {
    border: 2px solid #690;
    width: 200px;
    /* height: 100px; */
    text-align: center;
    padding: 0.5em;
    margin: 0.1em;
}

/*
==============================
FOOTER
==============================
*/

footer {
    font-size: 0.5em;
    text-align: center;
}